

<%= panel_row column_class: 'col-sm-4' do %>
  <%= panel title: @post.title, context: :info do %>
    <div class='panel-body'><%= @post.text %></div>
  <% end %>
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>
 
 <div>
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 </div>
<%= link_to 'Edit Post', edit_post_path(@post) %> |

<%= link_to 'Back to Posts', posts_path %>